<!doctype html>

<html>  
<head>
    <title>Big O Notation Flashcards</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
    <style>
    .row > div > div {
        text-align: center;
        padding-top: 4em;
        padding-bottom: 4em;
        padding-left: 2em;
        padding-right: 2em;

        font-size: 200%;
        font-weight: bold;
        border: solid 1px black;
        background-color: lightblue;
    }
    </style>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Big O Notation Flashcards</h1>

            <p class="lead">Silly, quick project using Python, AJAX calls, Bootstrap, JQuery, Flask, Flask-Jinja</p>
        </div>

        <div class="row">
            <div class="col-xs-6" style="text-align:left">
                <button type="button" class="btn btn-primary" id="showButton">Show/Hide Answer</button>
            </div>
            <div class="col-xs-6" style="text-align:right">
                <button type="button" class="btn btn-success" id="newCard">Next flashcard &rarr;</button>
            </div>
        </div>

        <div class="row" id="card" style="margin-top:1em">
                {% for card in flashcard %}
                <div class="col-xs-6">
                    <div>
                        {{ card[0] }}
                    </div>
                </div>

                <div class="col-xs-6" id="answer" hidden>
                    <div>
                        {% if card[0] == "What are the runtimes in order of best to worst?" %}
                        {% for each in card[1] %}
                        {{ each }}<br>
                        {% endfor %}
                        {% elif card[0] == "What are the runtimes in order of worst to best?" %}
                        {% for each in card[1] %}
                        {{ each }}<br>
                        {% endfor %}
                        {% else %}
                        {% if card[1]|length <= 50 %}
                        {{ card[1] }}
                        {% else %}
                        <p style="font-size:75%">
                            {{ card[1] }}
                        </p>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
    <script>
    "use strict";

    function showAns(evt) {
        $("#answer").toggle();
        console.log("Toggled answer");
    }

    $("#showButton").click("click", showAns)

    function replaceCard(results) {
        var newCard = results;
        $('#card').html(newCard);
        console.log("Finished refresh");
    }

    function getCard() {
        $.get('/runtime.json', replaceCard);
        console.log("Finished sending AJAX");
    }

    $('#newCard').on('click', getCard)

    </script>
</div>
</body>
</html>